<div class="col-xs-12 custyle" id="merchandises">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Persediaan Produk Usaha</h3> 
      <tr>
        <th>Tanggal</th>
        <th>Nama Produk</th>
        <th>Jumlah</th>
        <th>Satuan</th>
        <th>Nilai Pembelian</th>
        <th>Nilai Produk per Satuan</th>
        <th>Harga Jual</th>
        <th></th>
      </tr>
    </thead>
    <% @merchandises.each do |merchandise| %>
      <tr>
        <td><%= merchandise.spending.date_of_spending %></td>
        <td><%= merchandise.merch_name %></td>
        <td class="quantity"><%= merchandise.quantity %></td>
        <td><%= merchandise.measurement %></td>
        <td class="cost"><%= merchandise.cost %></td>
        <td class="unit_cost"><%= merchandise.cost_per_unit %></td>
        <td class="price"><%= merchandise.price %></td>
        <td><%= link_to "Koreksi", edit_firm_spending_path(@firm, merchandise.spending) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to "Kembali Ke Home", user_root_path %>  
</div>