<%= bootstrap_form_for(@firm) do |f| %>
  <%= render 'shared/error_messages', object: @firm %>

  <div class="well row">
    <div class="col-md-4">
      <%= f.text_field :name, label: "Nama Usaha" %>
    </div>    
    <div class="col-md-4">
     <%= f.select :type, business_type_options, prompt: 'Pilih Jenis', label: "Jenis Usaha" %> 
    </div>    
    <div class="col-md-4">
      <%= f.select :industry, industry_options, prompt: 'Pilih Jenis',
      label: "Bidang Usaha", class: "selectpicker" %>
    </div>    
  

    <%= f.fields_for :balance_sheets, @firm.balance_sheets.build do |builder| %>
      <%= render 'balance_fields', f: builder %>
    <% end %>

    <%= f.fields_for :income_statements, @firm.income_statements.build do |builder| %>
      <%= render 'statement_fields', f: builder %>
    <% end %>

    <%= f.fields_for :cash_flows, @firm.cash_flows.build do |builder| %>
      <%= render 'flow_fields', f: builder %>
    <% end %>    
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
