<%= bootstrap_form_for(@firm) do |f| %>
  <% if @firm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firm.errors.count, "error") %> prohibited this firm from being saved:</h2>

      <ul>
      <% @firm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well row">
    <div class="col-md-4">
      <%= f.text_field :name, label: "Nama Usaha" %>
    </div>    
    <div class="col-md-4">
     <%= f.select :type, Firm.types.map { |t| [t.humanize, t.camelcase] }, {}, disabled: @type != "Firm" %> 
    </div>    
    <div class="col-md-4">
      <%= f.select :industry, [ ["Makanan & Minuman", "Makanan & Minuman"], 
      ["Pakaian", "Pakaian"], ["Teknologi", "Teknologi"], 
      ["Elektronik", "Elektronik"], ["Material", "Material"], 
      ["Konstruksi", "Konstruksi"], ["Kreatif", "Kreatif"], 
      ["Lain-lain", "Lain-lain"] ], 
      { label: "Pilih Bidang Usaha Kamu:" }, { class: "selectpicker" } %>
    </div>    
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
