<%= bootstrap_form_for(@firm) do |f| %>
  <%= render 'shared/error_messages', object: @firm %>

  <div class="well row">
    <div class="col-md-4">
      <%= f.text_field :name, label: "Nama Usaha" %>
    </div>    
    <div class="col-md-4">
     <%= f.select :type, [ ["Jual-Beli", "Trading"], ["Jasa", "Service"],
     ["Manufaktur", "Manufacture"] ], { label: "Jenis Usaha" }, { class: "selectpicker" } %> 
    </div>    
    <div class="col-md-4">
      <%= f.select :industry, [ ["Makanan & Minuman", "Makanan & Minuman"], 
      ["Pakaian", "Pakaian"], ["Teknologi", "Teknologi"], 
      ["Elektronik", "Elektronik"], ["Material", "Material"], 
      ["Konstruksi", "Konstruksi"], ["Kreatif", "Kreatif"], 
      ["Lain-lain", "Lain-lain"] ], 
      { label: "Bidang Usaha" }, { class: "selectpicker" } %>
    </div>    
  </div>

  <%= f.fields_for :balance_sheets, @firm.balance_sheets.build do |builder| %>
    <%= render 'balance_fields', f: builder %>
  <% end %>

  <%= f.fields_for :income_statements, @firm.income_statements.build do |builder| %>
    <%= render 'statement_fields', f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
