<div class="col-xs-12 custyle" id="spendings">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Persediaan dan Aset Prabayar</h3> 
      <tr>
        <th>Tanggal</th>
        <th>Jenis</th>
        <th>Nama Aset</th>
        <th>Jumlah</th>
        <th>Satuan</th>
        <th>Nilai</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @expendables.each do |expendable| %>
      <tr>
        <td><%= expendable.spending.date_of_spending %></td>
        <td><%= expendable.account_type %></td>
        <td><%= expendable.item_name %></td>
        <td class= "quantity"><%= expendable.unit_expensed %></td>
        <td><%= expendable.measurement %></td>
        <td class='value'><%= expendable.value_expensed %></td>
        <td class='perishable'><%= expendable.perishable %></td>
        <td class='expiration'><%= expendable.expiration %></td>
        <td><%= link_to "Koreksi", edit_firm_spending_path(@firm, expendable.spending) %></td>
        <td><%= link_to "Catat Penggunaan", new_firm_discard_path(@firm, expendable) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to "Kembali Ke Home", user_root_path %>  
</div>