<div class="nested-fields">
  <div class="form-group">
  <% if params[:name] %>
    <%= f.hidden_field :expense_type, value: params[:sub] %>
    <%= f.hidden_field :measurement, value: params[:measure] %>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="<%= name_tip_text('pengeluaran') %>">
      <%= f.text_field :expense_name, value: params[:name], disabled: true, label: "Nama Pengeluaran" %>  
    </div>
  <% else %>  
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= type_tip_text('beban') %>">
      <%= f.select :expense_type, expense_types, prompt: 'Pilih', label: "Jenis Pengeluaran" %>
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= name_tip_text('beban') %>">
      <%= f.text_field :expense_name, label: "Nama Pengeluaran" %>
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= measurement_tip_text('beban') %>">
      <%= f.text_field :measurement, label: "Satuan" %>
    </div>    
  <% end %>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= quantity_tip_text('beban') %>">
      <%= f.number_field :quantity, label: "Jumlah", min: 0 %>
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= value_tip_text('beban') %>">
      <%= f.text_field :cost, label: "Total Pengeluaran", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
    </div>
  </div>

  <%= f.hidden_field :firm_id, value: params[:firm_id] %>
</div>