<%= bootstrap_form_for([@firm, @spending], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  
  <%= render 'shared/error_messages', object: @spending %>
  
  <div class="container">
    <div class="well row">
      
      <%= f.hidden_field :spending_type, value: params[:type] %> 
      
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.date_field :date_of_spending, label: "Tanggal" %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_info_tip %>">
        <%= f.text_field :info, label: "Info Tambahan" %>
      </div>         
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_total_tip %>">
        <%= f.text_field :total_spent, label: "Total Pembayaran", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
      </div>    
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_installment_tip %>">
        <%= f.form_group :installment do %>
          <%= f.check_box :installment, label: "Dicicil?", id: "toggle_payables" %>
        <% end %>
      </div>
    </div>

    <div class="well row" id="acc-payables">
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_dp_tip %>">
        <%= f.text_field :dp_paid, label: "Uang Muka", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_discount_tip %>">
        <%= f.number_field :discount, label: "Diskon" %>
      </div>        
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_maturity_tip %>">
        <%= f.date_field :maturity, label: "Jatuh Tempo Hutang" %>
      </div>    
    </div>

    <div class="well row">
      <% if params[:type] == 'Asset' %>
        <%= f.fields_for :asset, @spending.build_asset do |builder| %>
          <%= render 'asset_fields', f: builder %>
        <% end %>
      
      <% elsif params[:type] == 'Expense' %>
        <%= f.fields_for :expense, @spending.build_expense do |builder| %>
          <%= render 'expense_fields', f: builder %>
        <% end %>

      <% elsif params[:type] == 'Material' %>
        <%= f.fields_for :materials, @spending.materials.build do |builder| %>
          <%= render 'material_fields', f: builder %>
          <%= link_to_add_association 'Tambah Jenis Bahan Baku yang dibeli', f, :materials %>          
      <% end %>
      
      <% else %>
        <%= f.fields_for :merchandises, @spending.merchandises.build do |builder| %>
          <%= render 'merchandise_fields', f: builder %>
          <%= link_to_add_association 'Tambah Jenis Produk yang dibeli', f, :merchandises %>
        <% end %>

      <% end %>      
    </div>
      
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
