<%= bootstrap_form_for([@firm, @spending], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  
  <%= render 'shared/error_messages', object: @spending %>
  
  <div class="container">
    <div class="well row">
      
      <%= f.text_field :spending_type, readonly: true %> 
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :date, label: "Tanggal", min: 1, max: 31, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :month, label: "Bulan", min: 1, max: 12, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :year, label: "Tahun", readonly: true, value: Date.today.year %>
      </div>

    <% if @spending_type == 'Asset' %>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="<%= type_tip_text('aset') %>">
        <%= f.select :item_type, asset_types, label: "Kelompok Aset Tetap", required: true %>
      </div>
    <% elsif @spending_type == 'Expendable'%>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="<%= type_tip_text('aset') %>">
        <%= f.select :item_type, [ 
            ['Hak Pakai, Hak Sewa, Lease', 'Prepaids'], 
            ['Perlengkapan dan lain-lain', 'Supplies']
            ], label: "Kelompok Aset Lancar", required: true %>
      </div>      
    <% elsif @spending_type == 'Expense' %>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= type_tip_text('beban') %>">
        <%= f.select :item_type, expense_types, prompt: 'Pilih', label: "Kelompok Pengeluaran", required: true %>
      </div>      
    <% end %>

    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="<%= name_tip_text('produk') %>">
      <%= f.text_field :item_name,  label: "Nama Barang" %>  
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= measurement_tip_text('produk') %>">
      <%= f.text_field :measurement, label: "Satuan" %>
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= quantity_tip_text('produk') %>">
      <%= f.number_field :quantity, label: "Jumlah", min: 0 %>
    </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_total_tip %>">
        <%= f.text_field :total_spent, label: "Total Pembayaran", required: true, data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0} } %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_info_tip %>">
        <%= f.text_field :info, label: "Info Tambahan" %>
      </div>               
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_installment_tip %>">
        <%= f.form_group :installment do %>
          <%= f.check_box :installment, label: "Dicicil?", id: "toggle_payables" %>
        <% end %>
      </div>
    </div>

    <div class="well row" id="acc-payables">
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_dp_tip %>">
        <%= f.text_field :dp_paid, label: "Uang Muka", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_discount_tip %>">
        <%= f.number_field :discount, label: "Diskon" %>
      </div>        
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_maturity_tip %>">
        <%= f.date_field :maturity, label: "Jatuh Tempo Hutang" %>
      </div>    
    </div>
    


      
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
