<div class="nested-fields">
  <div class="form-group">
    <div class="col-md-3">
      <%= f.text_field :merch_name, label: "Nama Barang Yang Dibeli" %>
    </div>
    <div class="col-md-1">
      <%= f.number_field :quantity, label: "Jumlah", min: 0 %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :measurement, label: "Satuan" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :cost, label: "Harga Pembelian", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :price, label: "Harga Penjualan", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
    </div>
    <%= f.hidden_field :firm_id, value: params[:firm_id] %>    
  </div>

  <%= link_to_remove_association "Hapus Formulir", f %>
</div>