<% title("Riwayat Pembayaran") %>

<% if @spendings.empty? %>
  <h3 class="text-center">Riwayat Pembayaran</h3> 
  <br>
  <%= render 'not_empty' %>
<% else %>
<div class="container">
  <br>
  <div class="panel report panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">
        Riwayat Pembayaran
      </h3>
    </div>   
    <ul class="list-group">

      <% @spendings.each do |spending| %>
      <li class="list-group-item", style="padding-left: 5px">
        <div class="row toggle" id="dropdown-detail-<%= spending.id %>" data-toggle="detail-<%= spending.id %>">
          <div class="lists col-sm-3 col-xs-12">
            <span class="info_date">
              <i class="fa fa-check-circle-o"></i> <%= spending.date_of_spending %>
              <i class="fa fa-folder"></i> <%= expenditure_for(spending) %>
            </span>
          </div>

          <div class="lists col-sm-3 col-xs-6 text-center">
            <span class="divider"></span>
            <span><%= item_name_paid_for(spending) %></span>
          </div>
          <div class="lists col-sm-2 col-xs-6 text-center">
            <span class="divider"></span>
            <span><%= status_of_payment(spending) %></span>
          </div>

          <div class="lists col-sm-2 col-xs-6 text-center">
            <span class="divider"></span>
            <span class="info_spent"><%= idr_money(spending.total_spent)%></span>
          </div>
          <div class="lists col-sm-2 col-xs-6 text-center">
            <span class="divider"></span>
            <span class="badge">Detil <i class="fa fa-chevron-down"></i></span>
          </div>
        </div>

        <div id="detail-<%= spending.id %>">
          <hr></hr>
          <div class="container">
              <div class="fluid-row">
                  <div class="col-sm-3 col-xs-12">
                    <%= spending.info %>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                    <span class="divider"></span>
                    <%= to_payable(spending) %>          
                  </div>
                  <div class="col-sm-3 col-xs-12 text-center">
                    <span class="divider"></span>
                    <%= to_item(spending) %>  
                  </div>                  
                  <div class="col-sm-3 col-xs-12 text-center">
                    <span class="divider"></span>
                    <%= to_correction(spending, spending.spending_type) %>
                  </div>
              </div>
          </div>
        </div>
      </li>
      <% end %>

     </ul>
  </div>
</div>
<%= link_to "Kembali ke Home", user_root_path, class: "btn btn-success" %>
<% end %>