<% title("Sign Up") %>

<div class="container-fluid">
  <section class="container">
    <div class="container-page">        

    <%= bootstrap_form_for(resource, :as => resource_name,
          :url => registration_path(resource_name),
          :html => { :role => "form" }) do |f| %>

        <div class="form-group col-lg-12">            
          <%= devise_error_messages! %>
        </div>

      <div class="col-md-6">
        <div class="col-lg-12">
          <h3 class="dark-grey">Registrasi</h3>
        </div>
          
          <div class="form-group col-lg-12">
            <%= f.email_field :email, class: "form-control"%>
          </div>
          
          <div class="form-group col-lg-12">
            <%= f.password_field :password, class: "form-control", label: 'Password' %>
          </div>
          
          <div class="form-group col-lg-12">
            <%= f.password_field :password_confirmation, class: "form-control", label: 'Konfirmasi Password' %>
          </div>
                  
          <div class="form-group col-lg-6">
            <%= f.text_field :first_name, label: "Nama Depan", class: "form-control" %>
          </div>
          
          <div class="form-group col-lg-6">
            <%= f.text_field :last_name, label: "Nama Belakang", class: "form-control" %>
          </div>      
          
          <div class="form-group col-lg-12">
            <%= f.telephone_field :phone_number, class: "form-control", label: "Nomor Telepon" %>
          </div>
      </div>
    
      <div class="col-md-6">
        <div class="col-lg-12">
          <h3 class="dark-grey">Syarat dan Ketentuan</h3>
          <p>
            Dengan mengklik tombol "Daftar" di bawah ini, kamu telah menyetujui syarat dan ketentuan penggunaan aplikasi ini.
          </p>
          <p>
            Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
          </p>

          <%= f.submit "Daftar", class: "btn btn-block btn-primary" %>
        </div>
      
      </div>
      <% end %>

    </div>
  </section>
</div>
