<% title("Laporan Laba-Rugi") %>

<div class="report-header">
    <h1 class="text-center white-text">
        Laba-Rugi Tahun <%= @income_statement.year %>
    </h1>
    <h2 class="text-center white-text">
        <%= @firm.name.titleize %>
    </h2>
</div>


<div class="table-list">

    <div class="row">
        <!-- Aktiva Col-->
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Pendapatan</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.revenue) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Biaya Pokok</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.cost_of_revenue) %>
                    </span>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Laba(Rugi) Kotor</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.gross_profit) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Beban Operasi</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.operating_expense) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Pendapatan dan Beban Non-Operasi</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.comprehensive_items) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Laba(Rugi) Operasi</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.earning_before_int_and_tax) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Beban Bunga</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.interest_expense) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Laba(Rugi) Sebelum Pajak</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.earning_before_tax) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Beban Pajak</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.tax_expense) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Laba(Rugi) Bersih</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.net_income) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">Laba(Rugi) Ditahan</h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@income_statement.retained_earning) %>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>    
<div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-3">
        <%= link_to 'Kembali ke Home', user_root_path %>        
    </div>
    <div class="col-xs-3">
        <%= link_to "Download Laporan Laba-Rugi (PDF)", firm_income_statement_path(@firm, @income_statement, format: "pdf"), class: "btn btn-md btn-primary" %>
    </div>          
</div>


<% unless Rails.env.production? %>
    <div class="debug-balance">
        <%= @income_statement.closed %>
        <%= render 'debug_box' %>
    </div>
<% end %>        