<p id="notice"><%= notice %></p>

<h1 class="text-center">Laporan Laba-Rugi Tahun <%= @income_statement.year %></h1>
      <table class="table" id="match-stats">
        <thead>
            <tr>
                <th class="sheet-heading"></th>
                <th class="sheet-heading"></th>
                <th class="sheet-heading"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Pendapatan</th>
                <th id='revenue'><%= @income_statement.revenue %></th>
            </tr>
            <tr>
                <th>Biaya Pokok</th>
                <th id='cost_revenue'><%= @income_statement.cost_of_revenue %></th>
            </tr>
            <tr>
                <th>Laba(Rugi) Kotor</th>
                <th id='gross'>
                	<%= @income_statement.gross_profit %>
                </th>
            </tr>
            <tr>
                <th>Biaya Operasi</th>
                <th id='opex'><%= @income_statement.operating_expense %></th>
            </tr>
            <tr>
                <th>Pendapatan Non-Operasi</th>
                <th id='other_rev'><%= @income_statement.other_revenue %></th>
            </tr>
            <tr>
                <th>Biaya Non-Operasi</th>
                <th id='other_exp'><%= @income_statement.other_expense %></th>
            </tr>
            <tr>
                <th>Laba(Rugi) Operasi</th>
                <th id='ebit'>
                    <%= @income_statement.earning_before_int_and_tax %>
                </th>
            </tr>            
            <tr>
                <th>Biaya Bunga</th>
                <th id='interest'><%= @income_statement.interest_expense %></th>  
            </tr>
            <tr>
                <th>Laba(Rugi) Sebelum Pajak</th>
                <th id='ebt'><%= @income_statement.earning_before_tax %></th>
            </tr>            
            <tr>
                <th>Biaya Pajak</th>
                <th id='tax'><%= @income_statement.tax_expense %></th>
            </tr>
            <tr>
                <th>Laba(Rugi) Bersih</th>
                <th id='net'><%= @income_statement.net_income %></th>
            </tr>            
            <tr>
                <th class="stop-gap">placeholder</th>
                <th class="stop-gap"></th>
                <th class="stop-gap"></th>
                <th class="stop-gap"></th>
            </tr>
          </tbody>
        </table>