<% title("Laporan Arus Kas") %>

<div class="report-header">
    <h1 class="text-center white-text">
    	Arus Kas Tahun <%= @cash_flow.year %>
    </h1>
    <h2 class="text-center white-text">
    	<%= @firm.name.titleize %>
    </h2>
</div>

<div class="table-list">

	<div class="row">
		<!-- Aktiva Col-->
		<div class="col-sm-8 col-sm-offset-2">

			<div class="panel report panel-success">
				<div class="panel-heading clickable">
					<h5 class="panel-title">
						Arus Kas Dari Operasi Usaha
						<i class="fa fa-angle-double-up"></i>
					</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.net_cash_operating) %>
					</span>
				</div>
				<div class="panel-body">
				  <ul class="list-group">
					<li class="list-group-item">
						Laba(Rugi) Usaha 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.total_income) %>
						</span> 
					</li>
					<li class="list-group-item">
						Penyusutan Aset 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.depreciation_adjustment) %>
						</span>
					</li>
					<li class="list-group-item">
						Laba(Rugi) Penjualan Aset Tetap 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.total_gain_loss_from_asset) %>
						</span>
					</li>
					<li class="list-group-item">
						Perubahan Piutang Usaha 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.receivable_flow) %>
						</span>
					</li>
					<li class="list-group-item">
						Perubahan Stok 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.inventory_flow) %>
						</span>
					</li>
					<li class="list-group-item">
						Perubahan Hutang Usaha 
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.payable_flow) %>
						</span>
					</li>
					<li class="list-group-item">
						Perubahan Saldo Perlengkapan & Aset Prabayar
						<span class="badge pull-right">
							<%= idr_money(@cash_flow.supplies_and_prepaids_flow) %>
						</span>
					</li>					
				  </ul>                    
				</div>
			</div>

			<div class="panel report panel-success">
				<div class="panel-heading clickable">
					<h5 class="panel-title">
						Arus Kas Dari Aktivitas Investasi
						<i class="fa fa-angle-double-up"></i>
					</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.net_cash_investing) %>
					</span>
				</div>
				<div class="panel-body">
				  <ul class="list-group">
						<li class="list-group-item">
							Penjualan Aset Tetap 
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.asset_sale) %>
							</span> 
						</li>
						<li class="list-group-item">
							Pembelian Aset Tetap 
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.asset_purchase) %>
							</span> 
						</li>						
					</ul>
				</div>
			</div>

			<div class="panel report panel-success">
				<div class="panel-heading clickable">
					<h5 class="panel-title">
						Arus Kas Dari Aktivitas Pendanaan
						<i class="fa fa-angle-double-up"></i>
					</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.net_cash_financing) %>
					</span>
				</div>
				<div class="panel-body">
				  <ul class="list-group">
						<li class="list-group-item">
							Penambahan Dana Pemilik
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.capital_injection) %>
							</span> 
						</li>
						<li class="list-group-item">
							Penarikan Dana Pemilik
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.capital_withdrawal) %>
							</span> 
						</li>
						<li class="list-group-item">
							Penambahan Dana Pinjaman
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.loan_injection) %>
							</span> 
						</li>
						<li class="list-group-item">
							Pelunasan Pinjaman
							<span class="badge pull-right">
								<%= idr_money(@cash_flow.loan_payment) %>
							</span> 
						</li>						
					</ul>
				</div>
			</div>

			<div class="panel report panel-primary">
				<div class="panel-heading">
					<h5 class="panel-title">Total Perubahan Saldo Kas</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.net_change) %>
					</span>
				</div>
			</div>

			<div class="panel report panel-success">
				<div class="panel-heading">
					<h5 class="panel-title">Saldo Awal Kas</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.beginning_cash) %>
					</span>
				</div>
			</div>

			<div class="panel report panel-primary">
				<div class="panel-heading">
					<h5 class="panel-title">Saldo Akhir Kas</h5>
					<span class="pull-right badge"id="report">
						<%= idr_money(@cash_flow.ending_cash) %>
					</span>
				</div>
			</div>

		</div>
	</div>
</div>    
<%= link_to "Download Laporan Arus Kas (PDF)", firm_cash_flow_path(@firm, @cash_flow, format: "pdf"), class: "btn btn-md btn-primary" %>;

<% if Rails.env.test? %>
	<div class="debug-balance">
		<%= @cash_flow.closed %>
		<%= render 'debug_box' %>
	</div>
<% end %>        