<%= bootstrap_form_for([@firm, @balance_sheet]) do |f| %>
  <%= render 'shared/error_messages', object: @balance_sheet %>

  <div class="well row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.select :year, (Time.zone.now.year - 5)..(Time.zone.now.year + 2), prompt: "Pilih Tahun", label: "Tahun" %>
    </div>    
  </div>
  
  <h3>Aset</h3>
  <div class="well row">
    <div class="col-md-4">
      <%= f.number_field :cash, label: "Kas" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :receivables, label: "Piutang" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :inventories, label: "Persediaan" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :other_current_assets, label: "Aset Lancar Lainnya" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :fixed_assets, label: "Aset Tetap Milik Usaha" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :other_current_assets, label: "Aset Tetap Lainnya" %>
    </div>    
  </div>

  <h3>Liabilitas</h3>
  <div class="well row">
    <div class="col-md-4">
      <%= f.number_field :payables, label: "Utang Usaha" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :debts, label: "Utang Berbunga" %>
    </div>    
  </div>

  <h3>Ekuitas</h3>
  <div class="well row">
    <div class="col-md-4">
      <%= f.number_field :retained, label: "Laba Disimpan" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :capital, label: "Hak Pemilik Usaha" %>
    </div>
    <div class="col-md-4">
      <%= f.number_field :drawing, label: "Dana Yang Ditarik Pemilik" %>
    </div>    
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
