<h1 class="text-center">Neraca Tahun <%= @balance_sheet.year %></h1>

<div class="table-list">

    <div class="row">
        <!-- Aktiva Col-->
        <div class="col-sm-6">
            <h3 class="text-center">Aktiva</h3>

            <h5>Aktiva Lancar</h5>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Kas dan Setara Kas
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.cash) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Saldo Awal Tahun: <%= @firm.current_cash_flow.beginning_cash %></li>
                        <li>Saldo Tambahan: <%= @firm.current_cash_flow.net_change %></li>
                    </ul>
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Piutang Usaha
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.receivables) %>
                    </span>
                </div>
                <div class="panel-body">

                             <ul>
                        <li>Dari pembelian : <%= @firm.revenues.operating.receivables.map{ |a| a.receivable }.compact.sum %></li>
                        <li>Dari pendapatan non-operasi: <%= @firm.revenues.others.receivables.map{ |a| a.receivable }.compact.sum %></li>
                    </ul>       
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Stok Produk
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.inventories) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Persediaan Perlengkapan
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.supplies) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Aset Dibayar Di Muka
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.prepaids) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <h5>Aktiva Tetap</h5>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Aset Tetap (Bersih)
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.fixed_assets) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Aset Tetap Berwujud: <%= @balance_sheet.fixed_assets %></li>
                        <li>Aset Tetap Tidak Berwujud: <%= @balance_sheet.other_fixed_assets %></li>
                        <li>Akumulasi Penyusutan: <%= @balance_sheet.accu_depr %></li>
                    </ul>                
                </div>
            </div>     
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Total Aktiva
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.aktiva) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 class="text-center">Passiva</h3>
            <h5>Kewajiban</h5>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Hutang Usaha
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.payables) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Dari pembelian produk: <%= @firm.spendings.merchandises.payables.map{ |a| a.payment_installed }.compact.sum %></li>
                        <% if @firm.type == 'Manufaktur' %>
                            <li>Dari pembelian bahan baku: <%= @firm.spendings.materials.payables.map{ |a| a.payment_installed }.compact.sum %></li>
                        <% end %>
                        <li>Dari pembelian aset lancar: <%= @firm.spendings.expendables.payables.map{ |a| a.payment_installed }.compact.sum %></li>
                        <li>Dari pembelian aset tetap: <%= @firm.spendings.assets.payables.map{ |a| a.payment_installed }.compact.sum %></li>
                        <li>Dari pengeluaran: <%= @firm.spendings.expenses.payables.map{ |a| a.payment_installed }.compact.sum %></li>
                    </ul>                       
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Hutang Berbunga
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.debts) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Akan jatuh tempo dalam 1 tahun: <%= @firm.loans.active.current.map{ |a| a.amount_balance }.compact.sum %>
                        </li>
                        <li>
                            Akan jatuh tempo lebih dari 1 tahun: <%= @firm.loans.active.long_term.map{ |a| a.amount_balance }.compact.sum %>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="stopgap">
                
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Hak (Ekuitas)</h5>
            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Laba Ditahan 
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.retained) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Penarikan Dana
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.drawing) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Hak Pemilik
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.capital) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Total Passiva
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.passiva) %>
                    </span>
                </div>
                <div class="panel-body">
                </div>
            </div>            
        </div>

    </div>

</div>

<% unless Rails.env.production? %>
    <div class="debug-balance">
        <%= @balance_sheet.closed %>
        <%= balanced?(@balance_sheet) %>
        <%= render 'debug_box' %>
    </div>
<% end %> 