<p id="notice"><%= notice %></p>

<h1 class="text-center">Neraca Tahun <%= @balance_sheet.year %></h1>
      <table class="table" id="match-stats">
        <thead>
            <tr>
                <th class="sheet-heading"></th>
                <th class="sheet-heading"></th>
                <th class="sheet-heading"></th>
                <th class="sheet-heading"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="sheet-heading">Aset</th>
                <th></th>
                <th class="sheet-heading">Liabilitas</th>
                <th></th>
            </tr>
            <tr>
                <th>Kas</th>
                <th id="cash"><%= @balance_sheet.cash %></th>
                <th>Utang Usaha</th>
                <th id="payables"><%= @balance_sheet.payables %></th>
            </tr>
            <tr>
                <th>Piutang Usaha</th>
                <th id="receivables"><%= @balance_sheet.receivables %></th>
                <th>Utang Berbunga</th>
                <th id="debts"><%= @balance_sheet.debts %></th>
            </tr>
            <tr>
                <th>Persediaan</th>
                <th id="inventories"><%= @balance_sheet.inventories %></th>
                <th></th>
                <th></th>                
            </tr>
            <tr>
                <th>Aset Lancar Lainnya</th>
                <th id="other_current"><%= @balance_sheet.other_current_assets %></th>
                <th></th>
                <th></th>                
            </tr>
            <tr>
                <th class="stop-gap">placeholder</th>
                <th class="stop-gap"></th>
                <th class="stop-gap"></th>
                <th class="stop-gap"></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th class="sheet-heading">Ekuitas</th>
                <th></th>                            
            </tr>
            <tr>
                <th>Aset Milik Usaha</th>
                <th id="fixed"><%= @balance_sheet.fixed_assets %></th>
                <th>Laba Yang Disimpan</th>
                <th id="retained"><%= @balance_sheet.retained %></th>
            </tr>
            <tr>
                <th>Aset Tetap Lainnya</th>
                <th id="other_fixed"><%= @balance_sheet.other_fixed_assets %></th>
                <th>Hak Pemilik Usaha</th>
                <th id="capital"><%= @balance_sheet.capital %></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Dana Yang Ditarik Pemilik</th>
                <th id="drawing"><%= @balance_sheet.drawing %></th>
            </tr>
            <tr>
                <th class="bottom-line">Total Aset</th>
                <th class="bottom-line"><%= total_aktiva(@balance_sheet) %></th>
                <th class="bottom-line">Total Liabilitas dan Ekuitas</th>
                <th class="bottom-line"><%= total_passiva(@balance_sheet) %></th>
            </tr>                        
          </tbody>
        </table>

<%= link_to 'Koreksi', edit_firm_balance_sheet_path(@firm, @balance_sheet) %>
<%= link_to 'Back', user_root_path %>

<% unless Rails.env.production? %>
    <div class="debug-balance">
        <%= balanced?(@balance_sheet) %>
        <%= difference?(@balance_sheet) %>
    </div>
<% end %>