<div class="col-xs-12 col-sm-4 emphasis">
  <h3><strong>Dana Usaha</strong></h3>                    
  <p><small>Followers</small></p>
	<%= link_to "Tambah Dana", new_firm_fund_path(firm, type: "Injection"), class: "btn btn-success btn-block" %>
	<%= link_to "Tarik Dana", new_firm_fund_path(firm, type: "Withdrawal"), class: "btn btn-success btn-block" %>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
  <h3><strong>Pembayaran</strong></h3>                    
  <p><small>Following</small></p>
	<%= link_to "Tambah Stok Produk", new_firm_spending_path(firm, type: "Merch"), class: "btn btn-info btn-block" %>
	<%= link_to "Catat Pembelian", new_firm_spending_path(firm, type: "Asset"), class: "btn btn-info btn-block" %>
	<%= link_to "Catat Pengeluaran", new_firm_spending_path(firm, type: "Expense"), class: "btn btn-info btn-block" %>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
  <h3><strong>Pendapatan</strong></h3>                    
  <p><small>Snippets</small></p>
	<%= link_to "Catat Penjualan", new_firm_revenue_path(firm, type: 'Operating'), class: "btn btn-primary btn-block" %>
	<%= link_to "Catat Pendapatan Lain", new_firm_revenue_path(firm, type: 'Other'), class: "btn btn-primary btn-block" %>
</div>