  <div class="container">
    <div class="row">
      <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h2>Panel Dana</h2>
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Pilihan Pencatatan </a>
            </li>
            <li>
              <%= link_to firm_funds_path(firm) do %>
                <i class="glyphicon glyphicon-piggy-bank"></i>Lihat Daftar Dana Pemilik
              <% end %>
            </li>
            <li>
              <%= link_to firm_loans_path(firm) do %>
                <i class="fa fa-university fa-3x"></i>Lihat Daftar Dana Pinjaman
              <% end %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
      </div>

      <div class="col-md-4">
        <div data-toggle="tooltip" data-placement="bottom" title="<%= capital_panel_tip %>">
          <h3>Dana Pemilik</h3>
          <p>
            Dana Disetor: <%= idr_money(firm.current_balance_sheet.capital) %>
          </p>
        </div>
        <div>
          <%= link_to "Tambah Dana", new_firm_fund_path(firm, type: "Injection"), class: "btn btn-md btn-success", id: "add-fund", title: 'Catat Penambahan Modal Dari Pemilik', rel: 'tooltip', "data-placement" => "top"  %>
          <%= link_to "Tarik Dana", new_firm_fund_path(firm, type: "Withdrawal"), class: "btn btn-md btn-warning", id: "withdraw-fund", title: 'Catat Penarikan Kas dari usaha oleh Pemilik', rel: 'tooltip', "data-placement" => "top" %>          
        </div>
      </div>
      <div class="col-md-4">
        <div data-toggle="tooltip" data-placement="bottom" title="<%= loan_panel_tip %>">
          <h3>Dana Pinjaman</h3>
          <p>
            Pinjaman Tercatat: <%= idr_money(firm.current_balance_sheet.debts) %>
          </p>
        </div>
        <div>
          <%= link_to "Tambah Pinjaman", new_firm_loan_path(firm, type: "Injection"), class: "btn btn-md btn-success", id: "add-loan", :title => 'Catat penambahan modal yang berasal dari pinjaman, yang berarti harus dikembalikan dan mungkin berbunga', :rel => 'tooltip', "data-placement" => "top"  %>
          <%= link_to "Bayar Pinjaman", new_firm_payable_payment_path(firm, type: "Loan"), class: "btn btn-md btn-warning", id: "withdraw-loan", :title => 'Catat pembayaran hutang dengan bunga atau tanpa bunga', :rel => 'tooltip', "data-placement" => "top" %>
        </div>
      </div>  
    </div>

  </div>

<!-- /container -->