  <div class="container">
    <div class="row">
      <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h2>Panel Dana</h2>
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Riwayat Pencatatan </a>
            </li>
            <li>
              <%= link_to firm_funds_path(firm) do %>
                <i class="glyphicon glyphicon-piggy-bank"></i>Lihat Daftar Dana Pemilik
              <% end %>
            </li>
            <li>
              <%= link_to firm_loans_path(firm) do %>
                <i class="fa fa-university fa-3x"></i>Lihat Daftar Dana Pinjaman
              <% end %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
      </div>

      <div class="col-md-4">
        <div data-toggle="tooltip" data-placement="bottom" title="<%= capital_panel_tip %>">
          <h3>Dana Pemilik</h3>
          <p><%= firm_fund_status(firm) %></p>
        </div>
        <div>
        <%= inflow_link(new_firm_fund_path(firm, type: "Injection"), "Tambah Dana", false, 'Catat Penambahan Modal Dari Pemilik') %>
        <%= outflow_link(new_firm_fund_path(firm, type: "Withdrawal"), "Tarik Dana", false, 'Catat penarikan kas dari usaha oleh Pemilik') %>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div data-toggle="tooltip" data-placement="bottom" title="<%= loan_panel_tip %>">
          <h3>Dana Pinjaman</h3>
          <p><%= firm_debt_status(firm) %></p>
        </div>
        <div>
        <%= inflow_link(new_firm_loan_path(firm, type: "Injection"), "Tambah Pinjaman", false, 'Catat penambahan modal yang berasal dari pinjaman, yang berarti harus dikembalikan dan mungkin berbunga') %>
        <%= outflow_link(new_firm_payable_payment_path(firm, type: "Loan"), "Pelunasan Pinjaman", no_debt?(firm), 'Catat pembayaran hutang dengan bunga atau tanpa bunga') %>
        </div>
      </div>  
    </div>

  </div>

<!-- /container -->