<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h2>Panel Pengeluaran<h2>
          </div>
          <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-placement="bottom" title="Pembayaran" data-content="Aktifitas pembayaran dapat dikelompokkan menjadi empat, pembayaran untuk pembelian stok dagang, pembayaran untuk peralatan dan perlengkapan usaha, pembayaran untuk biaya operasi dan non-operasi usaha (seperti listrik, pemasaran, dll.)">Klik Untuk Lihat Penjelasan</button>             
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Pilihan Pencatatan </a>
            </li>
            <li>
              <%= link_to firm_spendings_path(firm) do  %>
                <i class="fa fa-briefcase"></i>
                Lihat Riwayat Pengeluaran
              <% end %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-3">
      <div data-toggle="tooltip" data-placement="bottom" title="<%= current_asset_panel_tip(@firm) %>">
        <h3>Aset Lancar</h3>
        <% if firm.type == 'Jual-Beli'  %>
          <p>
            Nilai Stok Produk: <%= idr_money(firm.current_balance_sheet.inventories) %>
          </p>
        <% elsif firm.type == 'Manufaktur'%>
          <p>
            Nilai Stok Bahan Baku: <%= idr_money(firm.current_balance_sheet.materials_value) %>
          </p>
        <% end %>

        <p>
          Nilai Persediaan Perlengkapan: <%= idr_money(firm.current_balance_sheet.supplies) %>
        </p>
        <p>
          Nilai Beban Prabayar: <%= idr_money(firm.current_balance_sheet.prepaids) %>
        </p>        
      </div>
      <div>
        <% if firm.type == 'Jual-Beli'  %>
          <%= link_to 'Tambah Stok Produk', new_firm_spending_path(firm, type: "Merchandise"), class: "btn btn-default"  %>
        <% elsif firm.type == 'Manufaktur'  %>
          <%= link_to 'Pembelian Bahan Baku', new_firm_spending_path(firm, type: "Material"), class: "btn btn-default"  %>
        <% end %>
        <%= link_to 'Pembelian Perlengkapan Usaha', new_firm_spending_path(firm, type: "Expendable", sub: "Supplies"), class: "btn btn-warning btn-md", title: spend_expendable_tip, rel: 'tooltip', "data-placement" => "top"  %>
        <%= link_to 'Pembelian Aset Prabayar', new_firm_spending_path(firm, type: "Expendable", sub: "Prepaids"), class: "btn btn-warning btn-md", title: spend_expendable_tip, rel: 'tooltip', "data-placement" => "top"  %>
      </div>
    </div>
    <div class="col-md-3" data-toggle="tooltip" data-placement="bottom" title="<%= fixed_asset_panel_tip %>">
      <div>
        <h3>Aset Tetap</h3>
        <p>
          Nilai Aset Tetap Tercatat: <%= idr_money(firm.current_balance_sheet.fixed_assets) %>
        </p>
      </div>
      <div>
        <%= link_to 'Pembelian Aset Tetap', new_firm_spending_path(firm, type: "Asset"), class: "btn btn-warning btn-md", title: spend_fixed_tip, rel: 'tooltip', "data-placement" => "top"  %>
      </div>
    </div>
    <div class="col-md-3">
      <div data-toggle="tooltip" data-placement="bottom" title="<%= expense_panel_tip %>">
        <h3>Beban</h3>
        <p>
          Beban Usaha Tahun Ini: <%= idr_money(firm.current_income_statement.find_total_expense) %>
        </p>
      </div>
      <div>
        <%= link_to 'Pembayaran Beban', new_firm_spending_path(firm, type: "Expense"), class: "btn btn-md btn-warning", title: spend_expense_tip, rel: 'tooltip', "data-placement" => "top"  %>
      </div>
    </div>

  </div>
</div>