<div class="col-sm-12 col-md-12">
  <div id="line-chart-widget" class="panel">

  	<div class="panel-heading">
	    <h4 class="text-uppercase">
	    	<strong>Bilah Laporan</strong>
	        <span class="label pull-right">
	          <small>
	            <%= Date.today %><br>
	            Tutup tahun buku <%= firm.days_to_closing %> hari lagi
	          </small>
	        </span>
	        <small>
	        	<%= firm.name %>
	        </small>
	  	</h4>
	  	<br>
	  </div>
	  
	  <div class="panel-body" id="reports">
	  	<div class="row stylish-panel">
	  		<%= render partial: 'year_panel', locals: { firm: firm } %>
	  	</div>
	  	<div class="row stylish-panel">
	  		<%= render partial: 'list_panel', locals: { firm: firm } %>
	  	</div>
	  </div>

  </div>
</div>