<div class="col-sm-6 col-md-4">
     <!--
        ****** CHART WIDGET *******
        -->    
  <div id="pie-chart-widget" class="panel">
    <div class="panel-heading text-center">
       <h4 class="text-uppercase"><strong>Pendapatan</strong></h4>
    </div>
    <div class="panel-body">
      <div class="row col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-placement="bottom" title="Pendapatan" data-content="Pendapatan dapat bersumber dari penjualan (operasi) dan penerimaan piutang usaha. 
        Penjualan aset seperti peralatan dan perlengkapan usaha juga dikategorikan sebagai pendapatan lain (non-operasi).">Klik Untuk Lihat Penjelasan</button>       
      </div>
    </div>    
    <div class="panel-footer" id="revenue">
      <div class="list-block">
        <ul class="text-center legend">
          <li class="video" id="revenue">
            Total Pendapatan
            <h5><%= number_with_precision(firm.current_income_statement.revenue, precision: 0) %></h5>
          </li>
          <li class="audio" id="revenue">
            Nilai Piutang Usaha
            <h5><%= number_with_precision(firm.current_balance_sheet.receivables, precision: 0) %></h5>
          </li>
        </ul>
      </div>
      <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="penjualan stok dagang">
        <% if firm.type == 'Manufaktur' %>
          <%= link_to "Catat Penjualan", new_firm_revenue_path(firm, type: 'Product'), class: "btn btn-default" %>
        <% elsif firm.type == 'Jasa' %>
          <%= link_to "Catat Pendapatan Operasi", new_firm_revenue_path(firm, type: 'Service'), class: "btn btn-default" %>        
        <% else %>
          <%= link_to "Catat Penjualan", new_firm_revenue_path(firm, type: 'Merchandise'), class: "btn btn-default" %>
        <% end %>
      </div>

      <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="penjualan peralatan, perlengkapan usaha, dll.">
        <%= link_to 'Catat Penjualan Aset', new_firm_revenue_path(firm, type: 'Asset'), class: "btn btn-default" %>
      </div>
      <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="penerimaan pembayaran piutang usaha dari pelanggan">
         <%= link_to 'Catat Pendapatan Piutang',new_firm_receivable_payment_path(firm), class: "btn btn-default" %>
      </div>
      <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="penghasilan yang didapat tanpa menjual aset ataupun stok, seperti pendapatan bunga dan pendapatan sewa">
        <%= link_to 'Catat Pendapatan Lain', new_firm_other_revenue_path(firm), class: "btn btn-default" %>
      </div>

    </div>
  </div>

</div>
