  <div id="line-chart-widget" class="panel">
    <div class="panel-heading">
      <h4>
        <strong><%= user.full_name %></strong> (<%= user.email %>)
        <span class="label pull-right">
          <%= DateTime.now %>
        </span><br>
        <small>Jumlah Akun Usaha: <%= user.firms.count %></small>
      </h4>
    </div>
    <div class="panel-body">

      <div class="container">
        <div class="page-header">
          <h1 class="text-center">Menu Pengaturan</h1>
        </div>
        <p class="lead text-center">
          <!-- Status Langganan -->
        </p>
        <div class="container">
          <div class="row stylish-panel">
            <div class="col-md-4">
              <div>
                <i class="fa fa-ticket fa-3x"></i>
                <h2>Langganan</h2>
                <p>
                  Tempat mengurus segala hal yang berurusan dengan pembayaran langganan kamu seperti pembayaran, pencetakan bukti bayar, dan lain-lain.
                </p>
                <% if current_user.subscription.present? %>
                  <%= link_to 'Ke Halaman Langganan', subscription_path(current_user.subscription.id), class: 'btn btn-primary', :title => 'Klik untuk masuk ke halaman langganan', :rel => 'tooltip', "data-placement" => "top" %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <i class="fa fa-users fa-3x"></i>
                <h2>Akses Pengguna</h2>
                <p>
                  Atur akses dan tindakan yang bisa dilakukan tiap pengguna yang berkaitan.
                </p>
                <a href="#" class="btn btn-primary" title="See more">Ke Halaman Pengguna »</a>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <i class="fa fa-exchange fa-3x"></i>
                <h2>Atur Akun Usaha</h2>
                <p>
                  Untuk mengatur akun-akun usaha yang telah anda buat, mengaksesnya, atau membuat akun usaha baru, klik tombol di bawah ini.
                </p>
                <a href="<%= firms_path %>" class="btn btn-primary" title="See more">Ke Halaman Akun Usaha »</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /container -->

    </div>
    <div class="panel-footer">


    </div>
  </div>