    <div class="col-sm-6 col-md-4">
      <div id="pie-chart-widget" class="panel">
        <div class="panel-heading text-center">
           <h4 class="text-uppercase"><strong>Pembayaran</strong></h4>
        </div>
        <div class="panel-body">
          <div class="row col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-placement="bottom" title="Pembayaran" data-content="Aktifitas pembayaran dapat dikelompokkan menjadi empat, pembayaran untuk pembelian stok dagang, pembayaran untuk peralatan dan perlengkapan usaha, pembayaran untuk biaya operasi dan non-operasi usaha (seperti listrik, pemasaran, dll.), serta pembayaran hutang.">Klik Untuk Lihat Penjelasan</button>       
          </div>           
        </div>
        <div class="panel-footer" id="spending">
          <div class="list-block">
            <ul class="text-center legend">
              <li class="photo">
                Total Pembayaran
                <h5><%= number_with_precision(firm.current_expenditure, precision: 0) %></h5>
              </li>
              <li class="audio">
                Nilai Hutang Usaha
                <h5><%= number_with_precision(firm.current_balance_sheet.payables, precision: 0) %></h5>
              </li>
            </ul>
          </div>

          <% if firm.type == 'Jual-Beli'  %>
            <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="pembelian stok dagang penting untuk dicatat">
              <%= link_to 'Tambah Stok Produk', new_firm_spending_path(firm, type: "Merch"), class: "btn btn-default"  %>
            </div>
          <% elsif firm.type == 'Manufaktur'  %>
            <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="pembelian stok bahan baku untuk produksi">
              <%= link_to 'Catat Pembelian Bahan Baku', new_firm_spending_path(firm, type: "Material"), class: "btn btn-default"  %>
            </div>          
          <% end %>

          <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="pembelian aset usaha seperti peralatan dan perlengkapan yang akan digunakan untuk usaha BUKAN untuk diperdagangkan atau sebagai bahan baku produksi">
            <%= link_to 'Catat Pembelian Aset', new_firm_spending_path(firm, type: "Asset"), class: "btn btn-default"  %>
          </div>

          <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="yang termasuk dalam pengeluaran adalah pembayaran atas biaya yang muncul dalam operasi usaha, seperti listrik, gaji, pemasaran, dll.">
            <%= link_to 'Catat Pengeluaran', new_firm_spending_path(firm, type: "Expense"), class: "btn btn-default"  %>
          </div>

          <div class="btn-group btn-group-justified text-center" data-toggle="tooltip" title="pembayaran atas hutang usaha, seperti hutang dalam pembelian stok dagang">
            <%= link_to 'Catat Pembayaran Hutang Usaha', new_firm_payable_payment_path(firm, type: "Spending"), class: "btn btn-default" %>
          </div>

        </div>
      </div>
    </div>
