<div class="col-md-4">
    <strong><h3 class="text-center">
        Catatan Transaksi
    </h3></strong><br>

    <%= link_to firm_funds_path(firm) do %>
    <div class="blockquote-box blockquote-primary clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-piggy-bank"></span>
        </div>
        <h5 class="report-heading">Dana Pemilik</h5>
        <small>
            Riwayat transaksi modal pemilik, baik penarikan maupun penambahan.
        </small>
    </div>
    <% end %>

    <%= link_to firm_loans_path(firm) do %>
    <div class="blockquote-box blockquote-primary clearfix">
        <div class="square pull-left">
            <i class="fa fa-university fa-3x"></i>
        </div>
        <h5 class="report-heading">Dana Pinjaman</h5>
        <small>
            Riwayat transaksi pinjaman, penerimaan pinjaman dan juga pembayarannya.
        </small>
    </div>
    <% end %>    

    <%= link_to firm_spendings_path(firm) do  %>
    <div class="blockquote-box blockquote-danger clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-minus"></span>
        </div>
        <h5 class="report-heading">Pembayaran</h5>
        <small>
            Riwayat semua transaksi pembayaran yang meliputi: pembelian stok, bahan baku, aset, dan pengeluaran.
        </small>
    </div>
    <% end %>

    <%= link_to firm_payable_payments_path(firm) do  %>
    <div class="blockquote-box blockquote-danger clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-minus"></span>
        </div>
        <h5 class="report-heading">Hutang - Piutang</h5>
        <small>
            Transaksi pembayaran untuk pelunasan hutang dan piutang
        </small>
    </div>
    <% end %>

    <%= link_to firm_revenues_path(firm) do  %>
    <div class="blockquote-box blockquote-success clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
        <h5 class="report-heading">Pendapatan Penjualan</h5>
        <small>
            Daftar yang meliputi: pendapatan operasi (dari stok, jasa, atau produk) dan non-operasi (penjualan aset, penerimaan piutang, dan pendapatan lain).
        </small>
    </div>
    <% end %>
    
    <% if firm.type == 'Manufaktur' %>
        <%= link_to firm_assemblies_path(firm) do %>
        <div class="blockquote-box blockquote-success clearfix">
            <div class="square pull-left">
                <i class="fa fa-life-ring fa-3x"></i>
            </div>
            <h5 class="report-heading">Produksi</h5>
            <small>
                Riwayat pencatatan produksi yang berisi hasil produksi serta biaya yang terlibat dalam proses produksi.
            </small>
        </div>
        <% end %>
    <% end %>

    <%= link_to firm_other_revenues_path(firm) do  %>
    <div class="blockquote-box blockquote-success clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
        <h5 class="report-heading">Pendapatan Non-Penjualan</h5>
        <small>
            Daftar yang meliputi: pendapatan yang tidak berasal dari penjualan, yaitu seperti pendapatan bunga, sewa, dan
            nilai tukar uang.
        </small>
    </div>
    <% end %>
    
</div>