<div class="col-md-4">
    <strong><h3 class="text-center">Laporan Akhir</h3></strong>
    <div class="blockquote-box blockquote-info clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-usd"></span>
        </div>
        <h5>Laporan Arus Kas</h5>
        <small>
        <% firm.cash_flows.each do |flow| %>
            <%= link_to firm_cash_flow_path(firm, flow)  do %>
                <small>Arus Kas (<%= flow.fiscal_year.current_year %>)</small>
            <% end %>            
        <% end %>
        </small>
    </div>
    <div class="blockquote-box blockquote-info clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-briefcase"></span>
        </div>
        <h5>Laporan Laba-Rugi</h5>
        <% firm.income_statements.each do |statement| %>
            <%= link_to firm_income_statement_path(firm, statement)  do %>
                <small>Laba-Rugi (<%= statement.fiscal_year.current_year %>)</small>
            <% end %>            
        <% end %>
    </div>
    <div class="blockquote-box blockquote-primary clearfix">
        <div class="square pull-left">
            <span class="glyphicon glyphicon-book"></span>
        </div>
        <h5>Laporan Neraca</h5>
        <% firm.balance_sheets.each do |sheet| %>
            <%= link_to firm_balance_sheet_path(firm, sheet)  do %>
                <small>Neraca (<%= sheet.fiscal_year.current_year %>)</small>
            <% end %>
        <% end %>
    </div>
</div>