<% title("Home") %>

<div class="container">  

  <% if @firms.count == 0 || @firm.fiscal_years.empty? %>
    <%= render 'starting_page' %>

  <% else %>
    
    <h1><i class="fa fa-home"></i> Home Page - <%= @firm.name %></h1>
    
    <%= link_to "Tutup Buku", closing_fiscal_years_path(fiscal_year_id: @firm.fiscal_years.current.first), method: :post  %><br>


    <div class="row">
      <div class="board">
        <%= render 'nav_tabs' %>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="action_dash">  
          <div class="row">
            <%= render partial: 'fund_panel', locals: { firm: @firm } %>
            <%= render partial: 'revenue_panel', locals: { firm: @firm } %>
            <%= render partial: 'spending_panel', locals: { firm: @firm } %>
          </div>
        </div>
        
        <div class="tab-pane" id="report_dash">
          <div class="row">
            <%= render partial: 'report_panel', locals: { firm: @firm } %>
          </div>
        </div>

        <div class="tab-pane" id="setting_dash">
          <%= render partial: 'settings_panel', locals: { firm: @firm, user: current_user } %>        
        </div>        
      </div>
           
    </div>

  <% end %>

  </div>
</div>
