<% title("Home") %>
<h1>
	<i class="fa fa-home"></i> Home Page 
	<small>views/pages/home.html.erb</small>
</h1>

<%= link_to "Tambah Bisnis Baru", new_firm_path %>

<% unless current_user.firms.count == 0 %>
	<% @firms.each do |firm| %>
		<div class="panel panel-default">
		  <div class="panel-heading"><%= firm.name %></div>
		  <div class="panel-body">
		  	<div class="row">
		  		<%= render partial: 'reports', locals: { firm: firm } %>
					<%= render partial: 'spendings', locals: { firm: firm } %>
					<%= render partial: 'revenues', locals: { firm: firm } %>
					<%= render partial: 'funds', locals: { firm: firm } %>
		  	</div>
		  </div>
		</div>

	<% end %>
<% end %>

