<% title("Home") %>
<h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>

<%= link_to "Tambah Usaha Baru", new_firm_path %>

<% unless current_user.firms.count == 0 %>
	<% @firms.each do |firm| %>
		<div class="panel panel-default">
		  <div class="panel-heading"><%= firm.name %></div>
		  <div class="panel-body">
		  	<div class="row">
		  		<div class="col-md-3">
		  			<h3 class="text-center">Neraca Usaha</h3>
		  			<div class="col-xs-12 text-center">
		  				<%= link_to "Buat Neraca", new_firm_balance_sheet_path(firm), class: "btn btn-primary" %>		
		  			</div>
				  	<% firm.balance_sheets.each do |sheet| %>
	  				<div class="col-xs-12 well">
				  		Neraca Tahun <%= link_to sheet.year, firm_balance_sheet_path(firm, sheet) %>
						</div>
				  	<% end %>		  				
		  		</div>
		  		<div class="col-md-3">
		  			<h3 class="text-center">Pembayaran</h3>
			  		<div class="col-xs-12 text-center">
			  			<div class="col-xs-12">
				  			<%= link_to "Catat Pembelian", new_firm_spending_path(firm, type: "Asset"), class: "btn btn-sm btn-primary" %>
			  			</div>
			  			<div class="col-xs-12">
				  			<%= link_to "Catat Pengeluaran", new_firm_spending_path(firm, type: "Expense"), class: "btn btn-sm btn-primary" %>
			  			</div>			  			
			  		</div>
			  		<div class="col-xs-12 text-center">
		  				<%= link_to "Lihat Daftar Pembelian", firm_spendings_path(firm) %>			  			
			  		</div>
		  		</div>
		  		<div class="col-md-3">
		  			<h3 class="text-center">Pendapatan</h3>
		  			<div class="col-xs-12 text-center">
			  			<%= link_to "Catat Pendapatan", new_firm_income_path(firm), class: "btn btn-primary" %>	  				
		  			</div>
		  			<div class="col-xs-12 text-center">
		  				<%= link_to "Lihat Daftar Pendapatan", firm_incomes_path(firm) %>
		  			</div>	
		  		</div>
		  		<div class="col-md-3">
		  			<h3 class="text-center">Modal Usaha</h3>
		  			<div class="col-xs-12 text-center">
			  			<%= link_to "Catat Modal", new_firm_fund_path(firm), class: "btn btn-primary" %>	  				
		  			</div>
		  			<div class="col-xs-12 text-center">
		  				<%= link_to "Lihat Pengelolaan Modal", firm_funds_path(firm) %>
		  			</div>
		  		</div>			  		
		  	</div>		  	
		  </div>
		</div>

	<% end %>
<% end %>

