<h1>Catat Pelunasan Hutang</h1>

<%= bootstrap_form_for([@firm, @pay_up]) do |f| %>

	<%= render 'shared/error_messages', object: @pay_up %>

	<div class="well row">
	  <%= f.hidden_field :payable_type, value: params[:type] %>
	  <div class="col-md-3">
	  <%= f.date_field :date_of_payment, label: 'Tanggal' %>
	  </div>
	  <div class="col-md-3">
	  <% if params[:item] %>
	  	<%= f.text_field :loan_number, label: "Pinjaman", value: params[:no], disabled: true %>
	  	<%= f.hidden_field :payable_id, value: params[:item] %>
	  <% else %>
	  	<%= f.select :payable_id, spending_options, prompt: 'Pilih Hutang', label: 'Nomor Invoice' %>
	  <% end %>
	  </div>
	  <div class="col-md-3">
	  	<%= f.text_field :amount, label: "Nilai Pembayaran Pokok", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
	  </div>
	  <% if params[:type] == 'Loan' %>
		  <div class="col-md-3">
		  	<%= f.text_field :interest_payment, label: "Nilai Pembayaran Bunga", data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
		  </div>	  
	  <% end %>
	  <div class="col-md-3">
	  	<%= f.text_field :info, label: "Info Tambahan", help: "Kosongkan Bila Tidak Diperlukan" %>
	  </div>

	  <%= f.submit "Simpan", class: "btn btn-primary" %>
	</div>
<% end %>

<%= link_to 'Back', user_root_path %>