<%= bootstrap_form_for([@firm, @loan], layout: :horizontal, label_col: "col-xs-4 col-sm-4", control_col: "col-xs-8 col-sm-8") do |f| %>
  <%= render 'shared/error_messages', object: @loan %>

  <div class="container">
    <div class="row well">
      
        <%= f.hidden_field :type, value: @type %>   
        
<!--         <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Tanggal pemberian pinjaman atau tanggal pencatatan pinjaman">
          <%= f.date_field :date_granted, label: "Tanggal", required: true %>
        </div> -->
        
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :date, label: "Tanggal", min: 1, max: 31, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :month, label: "Bulan", min: 1, max: 12, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :year, label: "Tahun", readonly: true, value: Date.today.year %>
      </div>     

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Nilai Pinjaman Yang diberikan dalam Rupiah">
        <%= f.text_field :amount, label: "Nilai", required: true, data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
      </div>

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Nama Pemberi Modal, baik individu ataupun institusi">
        <%= f.text_field :contributor, required: true, label: "Sumber", placeholder: "nama orang, bank, atau lembaga lainnya" %>
      </div>

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Tingkat suku bunga pinjaman per tahunnya">
        <%= f.number_field :monthly_interest, label: "Bunga per Tahun" %>
      </div>

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Jenis Bunga, entah itu Bunga Tunggal maupun Bunga Majemuk. Bunga tunggal adalah bunga biasa sementara Bunga Majemuk adalah bunga yang besarannya tergantung pada jumlah pinjaman yang belum dibayarkan">
        <%= f.select(:interest_type, interest_type_options, prompt: 'Pilih', label: "Jenis Bunga" )%>
      </div>

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Jenis Bunga, entah itu Bunga Tunggal maupun Bunga Majemuk. Bunga tunggal adalah bunga biasa sementara Bunga Majemuk adalah bunga yang besarannya tergantung pada jumlah pinjaman yang belum dibayarkan">
        <%= f.select(:compound_times_annually, compound_options, prompt: 'Pilih', label: "Frekuensi Penerapan Bunga" )%>
      </div>

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="Tanggal pinjaman jatuh tempo, dimana nilai pinjaman dan bunga harus dibayarkan paling lambat">
        <%= f.date_field :maturity, label: "Tanggal Jatuh Tempo" %>
      </div>

      <div class="col-xs-6 col-sm-6 col-xs-offset-3 col-md-offset-3">
        <%= f.submit "Simpan", class: "btn btn-primary" %>
      </div>

      
    </div>
  </div>

<% end %>
