<p id="notice"><%= notice %></p>

<div class="col-xs-12 custyle" id="funds">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Pinjaman</h3> 
      <tr>
        <th>Tanggal</th>
        <th>Jenis</th>
        <th>Sumber</th>
        <th>Nilai Pinjaman</th>
        <th>Bunga per Bulan</th>
        <th>Jenis Bunga</th>
        <th>Jatuh Tempo</th>
        <th>Nilai Yang Dibayarkan</th>
        <th></th>
      </tr>
    </thead>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.date_granted %></td>
        <td><%= loan.contributor %></td>
        <td><%= loan.amount %></td>
        <td class="int-rate"><%= loan.monthly_interest %></td>
        <td class="int-type"><%= loan.interest_type %></td>
        <td><%= loan.maturity %></td>
        <td class="total"><%= loan.total_balance %></td>
        <td><%= link_to "Koreksi", edit_firm_loan_path(@firm, loan) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to 'Catat Penambahan Pinjaman', new_firm_loan_path(@firm, type: 'Injection') %>  
</div>