<% title("Sign In") %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="account-box">
      
        <div class="logo ">
            <!-- Logo Goes Here -->
        </div>
				
				<h3 class="text-center">Masuk</h3>

		    <%= bootstrap_form_for(resource, :as => resource_name,
		    :url => session_path(resource_name),
		    role: "form") do |f| %>

			    <div class="form-group">
			      <div class="row col-md-8 col-md-offset-2">
			          <%= f.text_field :email, :autofocus => true, class: "form-control" %>
			      </div>
			    </div>

			    <div class="form-group">
			      <div class="row col-md-8 col-md-offset-2">
			        <%= f.password_field :password, class: "form-control" %>
			      </div>
			    </div>

			    <% if devise_mapping.rememberable? -%>
			    <div class="form-group">
			      <div class="row col-md-8 col-md-offset-2">
			        <%= f.check_box :remember_me, label: 'Simpan Sesi' %> 
			      </div>
			    </div>
			    <% end -%>

			    <div class="row col-md-8 col-md-offset-2">
			      <%= f.submit "Masuk", class: "btn btn-lg btn-block btn-primary" %>
			    </div>

        	<div class="or-box row-block">
    					<%= render "devise/shared/links" %>
          </div>
				<% end %>

			</div>
    </div>
  </div>
</div>
