<%= DateTime.now.to_date %>

<div class="col-xs-12 custyle" id="spendings">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Aset</h3> 
      <tr>
        <th>Tanggal Perolehan</th>
        <th>Jenis</th>
        <th>Nama Aset</th>
        <th>Jumlah</th>
        <th>Satuan</th>
        <th>Nilai</th>
        <th>Akumulasi Penyusutan</th>
        <th>Nilai per Unit</th>
        <th>Umur</th>
        <th>Penyusutan per Hari</th>
        <th>Hutang Pembelian</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.spending.date_of_spending %></td>
        <td><%= asset.asset_type %></td>
        <td><%= asset.asset_name %></td>
        <td class= "quantity"><%= asset.unit_remaining %></td>
        <td><%= asset.measurement %></td>
        <td class='value'><%= asset.value %></td>
        <td class='acc_depr'><%= number_with_precision(asset.accumulated_depreciation, precision: 0) %></td>
        <td class='per_unit'><%= asset.value_per_unit %></td>
        <td class='life'><%= asset.useful_life %></td>
        <td class='depr_cost'><%= number_with_precision(asset.depreciation_cost, precision: 3) %></td>
        <td class='payable'><%= asset.spending.payable %></td>
        <td class="status"><%= asset.status %></td>
        <td><%= link_to "Koreksi", edit_firm_spending_path(@firm, asset.spending) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to "Kembali Ke Home", user_root_path %>  
</div>