<div class="col-xs-12 custyle" id="spendings">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Aset</h3> 
      <tr>
        <th>Tanggal Perolehan</th>
        <th>Jenis</th>
        <th>Nama Aset</th>
        <th>Jumlah</th>
        <th>Satuan</th>
        <th>Umur</th>
        <th>Dicicil?</th>
        <th></th>
      </tr>
    </thead>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.spending.date_of_spending %></td>
        <td><%= asset.asset_type %></td>
        <td><%= asset.asset_name %></td>
        <td class= "quantity"><%= asset.unit %></td>
        <td><%= asset.measurement %></td>
        <td><%= asset.useful_life %></td>
        <td><%= asset.spending.installment %></td>
        <td><%= link_to "Koreksi", edit_firm_spending_path(@firm, asset.spending) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to "Kembali Ke Home", user_root_path %>  
</div>