<%= bootstrap_form_for([@firm, @revenue]) do |f| %>

  <%= render 'shared/error_messages', object: @revenue %>

  <div class="well row">
    <%= f.hidden_field :revenue_type, value: params[:type] %>

    <div class="col-md-4">
      <%= f.date_field :date_of_revenue, label: "Tanggal" %>
    </div>    
    <div class="col-md-4">
      <%= f.select(:revenue_item, revenue_items_available, prompt: 'Pilih', label: "Sumber Pendapatan") %>
    </div>    
    <div class="col-md-2">
      <%= f.number_field :quantity, label: "Jumlah" %>
    </div> 
    <div class="col-md-2">
      <%= f.text_field :measurement, label: "Satuan" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :total_earned, label: "Nilai Pendapatan" %>
    </div>    
    <div class="col-md-4">
      <%= f.text_field :info, label: "Info Tambahan" %>
    </div>        
    <div class="col-md-4">
      <%= f.form_group :installment do %>
        <%= f.check_box :installment, label: "Dicicil?", id: "toggle_receivables" %>
      <% end %>
    </div>    
  </div>
  <div class="well row" id="acc-receivables">
    <div class="col-md-4">
      <%= f.number_field :dp_received, label: "Uang Muka Yang Diterima" %>
    </div>    
    <div class="col-md-4">
      <%= f.date_field :maturity, label: "Jatuh Tempo Piutang" %>
    </div>    
  </div>

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
