<div class="col-xs-12 custyle" id="purchases">
  <table class="table table-striped custab">
    <thead>
      <h3 class="text-center">Daftar Pendapatan</h3> 
      <tr>
        <th>Tanggal</th>
        <th>Jenis</th>
        <th>Barang Yang Terjual</th>
        <th>Jumlah</th>
        <th>Nilai Pendapatan</th>
        <th>Dicicil?</th>
        <th>Detail</th>
        <th></th>
      </tr>
    </thead>
    <% @revenues.each do |revenue| %>
      <tr>
        <td><%= revenue.date_of_revenue %></td>
        <td><%= revenue.item_type %></td>
        <td><%= revenue.item_id %></td>
        <td><%= revenue.quantity %></td>
        <td><%= revenue.total_earned %></td>
        <td><%= revenue.installment %></td>
        <td><%= revenue.info %></td>
        <td><%= link_to "Koreksi", edit_firm_revenue_path(@firm, revenue) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <%= link_to "Catat Pendapatan Baru", new_firm_revenue_path(@firm) %>  
</div>