<% title("Laporan Neraca") %>

<div class="report-header">
    <h1 class="text-center white-text">
        Neraca Tahun <%= @balance_sheet.year %>
    </h1>
    <h2 class="text-center white-text">
        <%= @firm.name.titleize %>
    </h2>
</div>

<div class="table-list">

    <div class="row">
        <!-- Aktiva Col-->
        <div class="col-sm-6">
            <hr>
            <h3 class="text-center">Aset</h3>
            <hr>

            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Kas dan Setara Kas
                    <span class="badge"><i class="fa fa-chevron-down"></i></span>                        
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.cash) %>
                    </span>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                        Saldo Awal Tahun 
                        <span class="badge pull-right">
                            <%= idr_money(@firm.current_cash_flow.beginning_cash) %>
                        </span>                         
                    </li>
                    <li class="list-group-item">
                        Perubahan Saldo
                        <span class="badge pull-right">
                            <%= idr_money(@firm.current_cash_flow.net_change) %>
                        </span>                         
                    </li>
                    </ul>
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Piutang Usaha
                        <span class="badge"><i class="fa fa-chevron-down"></i></span>                        
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.receivables) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Dari pembelian : 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.revenues.operating.receivables.map{ |a| a.receivable }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Dari pendapatan non-operasi: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.revenues.others.receivables.map{ |a| a.receivable }.compact.sum) %>
                            </span>
                        </li>
                    </ul>       
                </div>
            </div>
            <% unless @firm.type == 'Jasa' %>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Stok Barang
                        <span class="badge"><i class="fa fa-chevron-down"></i></span>
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.inventories) %>
                    </span>
                </div>
                <div class="panel-body">
                    <% if @firm.type == 'Manufaktur' %>
                        <li class="list-group-item">
                            Bahan Baku: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.materials.available.map{ |a| a.cost_remaining }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Produk Jadi: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.products.available.map{ |a| a.cost_remaining }.compact.sum) %>
                            </span>
                        </li>
                    <% elsif @firm.type == 'Jual-Beli' %>
                        <li class="list-group-item">
                            Pembelian: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.spendings.merchandises.map{ |a| a.total_spent }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Penjualan: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.revenues.merchandising.map{ |a| a.total_earned }.compact.sum) %>
                            </span>
                        </li>
                    <% end %>
                </div>
            </div>
            <% end %>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Perlengkapan
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.supplies) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Aset Prabayar
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.prepaids) %>
                    </span>
                </div>
            </div>

            <div class="panel report panel-success">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Aset Tetap (Bersih)
                        <span class="badge"><i class="fa fa-chevron-down"></i></span>
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.net_fixed_assets) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Aset Tetap Berwujud: 
                            <span class="badge pull-right">
                            <%= idr_money(@balance_sheet.fixed_assets) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Aset Tetap Tidak Berwujud: 
                            <span class="badge pull-right">
                            <%= idr_money(@balance_sheet.other_fixed_assets) 
                            %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Akumulasi Penyusutan: 
                            <span class="badge pull-right">
                            <%= idr_money(@balance_sheet.accu_depr) %>
                            </span>
                        </li>
                    </ul>                
                </div>
            </div>     
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Total Nilai Aset
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.aktiva) %>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <hr>
            <h3 class="text-center">Kewajiban & Hak Pemilik</h3>
            <hr>

            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Hutang Usaha
                        <span class="badge"><i class="fa fa-chevron-down"></i></span>
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.payables) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Dari pembelian produk: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.spendings.merchandises.payables.map{ |a| a.payment_installed }.compact.sum) %>
                            </span>
                        </li>
                        <% if @firm.type == 'Manufaktur' %>
                            <li class="list-group-item">
                                Dari pembelian bahan baku: 
                                <span class="badge pull-right"> 
                                <%= idr_money(@firm.spendings.materials.payables.map{ |a| a.payment_installed }.compact.sum) %>
                                </span>
                            </li>
                        <% end %>
                        <li class="list-group-item">
                            Dari pembelian aset lancar: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.spendings.expendables.payables.map{ |a| a.payment_installed }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Dari pembelian aset tetap: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.spendings.assets.payables.map{ |a| a.payment_installed }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Dari pengeluaran: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.spendings.expenses.payables.map{ |a| a.payment_installed }.compact.sum) %>
                            </span>
                        </li>
                    </ul>                       
                </div>
            </div>
            <div class="panel report panel-warning">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Pinjaman
                        <span class="badge"><i class="fa fa-chevron-down"></i></span>
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.debts) %>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Akan jatuh tempo dalam 1 tahun:
                            <span class="badge pull-right">
                            <%= idr_money(@firm.loans.active.current.map{ |a| a.amount_balance }.compact.sum) %>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Akan jatuh tempo lebih dari 1 tahun: 
                            <span class="badge pull-right">
                            <%= idr_money(@firm.loans.active.long_term.map{ |a| a.amount_balance }.compact.sum) %>
                            </span>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="stopgap">
                
            </div>
        </div>
        <div class="col-sm-6">

            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Laba Ditahan 
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.retained) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Penarikan Dana
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.drawing) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-info">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Dana Pemilik
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.capital) %>
                    </span>
                </div>
            </div>
            <div class="panel report panel-primary">
                <div class="panel-heading clickable">
                    <h5 class="panel-title">
                        Total Kewajiban & Hak Pemilik
                    </h5>
                    <span class="pull-right badge"id="report">
                        <%= idr_money(@balance_sheet.passiva) %>
                    </span>
                </div>
            </div>            
        </div>

    </div>

</div>
<div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-3">
        <%= link_to 'Kembali ke Home', user_root_path %>        
    </div>
    <div class="col-xs-3">
        <%= link_to "Download Laporan Neraca (PDF)", firm_balance_sheet_path(@firm, @balance_sheet, format: "pdf"), class: "btn btn-md btn-primary" %>    
    </div>          
</div>



<% if Rails.env.test? %>
    <div class="debug-balance">
        <%= @balance_sheet.closed %>
        <%= balanced?(@balance_sheet) %>
        <%= render 'debug_box' %>
    </div>
<% end %> 