<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h2>Panel Operasi</h2>
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Riwayat Pencatatan </a>
            </li>
            <li>
              <%= link_to firm_discards_path(firm) do %>
                <i class="fa fa-life-ring fa-3x"></i>
                Riwayat Pemakaian Aset Lancar
              <% end %>
            </li>
            <li>
            <% if @firm.type == 'Manufaktur' %>
                <%= link_to firm_assemblies_path(firm) do %>
                  <i class="fa fa-life-ring fa-3x"></i>
                  Produksi
                <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to firm_payable_payments_path(firm) do  %>
                <i class="fa fa-minus-square"></i>
                Riwayat Pembayaran Hutang Usaha
              <% end %>
            </li>
            <li>
              <%= link_to firm_receivable_payments_path(firm) do  %>
                <i class="fa fa-plus-square"></i>
                Riwayat Pelunasan Piutang
              <% end %>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>

    <% if @firm.type == 'Manufaktur' %>
      <div class="col-md-4">
        <%= render partial: 'firm_operation_links', locals: { firm: @firm, type: "Produksi", tip: production_panel_tip } %>
      </div>
    <% elsif @firm.type == 'Jasa' %>
      <div class="col-md-3">
        <%= render partial: 'firm_operation_links', locals: { firm: @firm, type: "Jasa", tip: service_panel_tip } %>
      </div>
    <% elsif @firm.type == 'Jual-Beli' %>
      <div class="col-md-3">
        <%= render partial: 'firm_operation_links', locals: { firm: @firm, type: "Jual-Beli", tip: trading_panel_tip } %>
      </div>
    <% end %>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <div data-toggle="tooltip" data-placement="bottom" title="<%= payable_receivable_panel_tip %>">
        <h3>Hutang-Piutang</h3>
        <p>
          <%= firm_payable_status(firm) %>
        </p>
        <p>
          <%= firm_receivable_status(firm) %>
        </p>
      </div>
      <div>
        <%= inflow_link(new_firm_receivable_payment_path(firm), "Pelunasan Piutang Usaha", no_receivable?(firm), rev_receivable_tip) %>
        <%= outflow_link(new_firm_payable_payment_path(firm, type: "Spending"), "Pelunasan Hutang Usaha", no_payable?(firm), spend_payable_tip) %> 
      </div>
    </div>    

  </div>
</div>