<%= bootstrap_form_for([@firm, @expense]) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well row">
    <div class="col-md-4">
      <%= f.date_field :date_of_expense, label: "Tanggal" %>
    </div>    
    <div class="col-md-4">
     <%= f.select :type, Expense.types.map { |e| [e.humanize, e.camelcase] }, {}, disabled: @type != "Expense" %> 
    </div>
    <div class="col-md-4">
      <%= f.text_field :item_name, label: "Sumber Pengeluaran" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :unit, label: "Jumlah Unit" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :total_expense, label: "Total Pengeluaran" %>
    </div>    
    <div class="col-md-4">
      <%= f.form_group :full_payment do %>
        <%= f.check_box :full_payment, label: "Bayar Dengan Cicilan?", checked: false, id: "toggle_payables" %>
      <% end %>
    </div>    
  </div>
  <div class="well row" id="acc-payables">
    <div class="col-md-4">
      <%= f.number_field :down_payment, label: "Uang Muka" %>
    </div>    
    <div class="col-md-4">
      <%= f.date_field :maturity, label: "Jatuh Tempo" %>
    </div>    
    <div class="col-md-4">
      <%= f.text_field :info, label: "Info Tambahan" %>
    </div>        
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
