<%= bootstrap_form_for([@firm, @fund]) do |f| %>
  <%= render 'shared/error_messages', object: @fund %>
  
  <div class="well row">
    <div class="col-md-4">
      <%= f.date_field :date_granted, label: "Tanggal" %>
    </div>
    <div class="col-md-4">
     <%= f.select :loan, [ ["Modal Usaha", false], ["Pinjaman", true] ],
       { prompt: "Pilih Jenis Sumber" }, { class: "selectpicker" } %> 
    </div>
    <div class="col-md-4">       
      <%= f.text_field :contributor, label: "Sumber" %>
    </div>    
    <div class="col-md-2">
      <%= f.number_field :amount, label: "Nilai" %>
    </div>
    <div class="col-md-4">
      <%= f.number_field :interest, label: "Bunga" %>
    </div>    
    <div class="col-md-4">
      <%= f.date_field :maturity, label: "Jatuh Tempo" %>
    </div>    
    <div class="col-md-4">
      <%= f.number_field :ownership, label: "Porsi Kepemilikan" %>
    </div>        
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
