<%= bootstrap_form_for([@firm, @fund]) do |f| %>
  <%= render 'shared/error_messages', object: @fund %>
  
  <div class="well row">
    <%= f.hidden_field :type, value: params[:type] %>   

    <div class="col-md-2">
      <%= f.date_field :date_granted, label: "Tanggal", required: true %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :amount, label: "Nilai", required: true, data: {autonumeric: {aSign: 'Rp ', aSep: '.', aDec: ',', mDec: 0}} %>
    </div>
    <div class="col-md-4"> 
        <%= f.text_field :contributor, required: true, label: "Sumber", placeholder: "nama orang, bank, atau lembaga lainnya" %>
    </div>
    <div class="col-md-3">
      <%= f.number_field :ownership, label: "Porsi Kepemilikan" %>
    </div>                
  </div>



  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
