		<h3 class="text-center">Riwayat Transaksi Dana Pemilik</h3> 
		<div class="row">
		<% @funds.each do |fund| %>
				<div class="col-xs-12 col-sm-offset-1 col-sm-5">
						<div class="panel panel-default panel-google-plus">
								<div class="panel-google-plus-tags">
										<ul>
												<li>#<%= fund.year %></li>
												<li>#<%= fund.type %></li>
										</ul>
								</div>
								<div class="panel-heading">
										<h3><%= fund.contributor %></h3>- <%= fund.date_granted %>
										<h5>
											<span>Dibuat pada</span> - 
											<span><%= fund.created_at %></span> 
										</h5>
								</div>
								<div class="panel-body">
										<h5><%= idr_money(fund.amount) %></h5>
										<p><%= fund.info %></p>
								</div>
								<div class="panel-footer">
										<button type="button" class="[ btn btn-default ]">+1</button>
										<div class="input-placeholder">Add a comment...</div>
								</div>
						</div>
				</div>

		<% end %>

	</div>