<%= bootstrap_form_for([@firm, @product], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>

  <%= render 'shared/error_messages', object: @product %>

  <div class="container">
    <div class="well row">

      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= name_tip_text('produk') %>">
        <%= f.text_field :item_name, label: "Nama Produk" %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
         title="<%= measurement_tip_text('produk') %>">
        <%= f.text_field :measurement, label: "Satuan Ukuran" %>
      </div>                  
    </div>

    <div class="actions">
      <%= f.submit "Simpan", class: "btn btn-primary" %>
    </div>    
  </div>

<% end %>
