<h3 class="text-center">Daftar Stok Produk & Bahan Baku</h3>
<hr></hr> 

<div class="board">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#products" data-toggle="tab" title="">
      <small>Produk </small>
      </a>
    </li>
    <li>
      <a href="#materials" data-toggle="tab" title="">
      <small>Bahan Baku </small>
      </a>
    </li>
  </ul>
</div>


<div class="tab-content">
  <div class="tab-pane active" id="products">  

  <% @products.each do |product| %>
  <div class="row user-menu-container square">

    <div class="col-md-7 user-details">

      <div class="row">
        <div class="col-md-6 no-pad coralbg white">
          <div class="user-pad">
            <h2 class="name"><%= product.item_name %></h2>
            <h3 class="white">
              <i class="fa fa-check-circle-o"></i> 
              0 Catatan penjualan
            </h3>            
            <h3 class="white">
              <i class="fa fa-folder"></i> 
              <%= idr_money(product.cost_remaining) %> tersisa
            </h3><br>
          </div>
        </div>

        <div class="col-md-6 no-pad">
          <div class="col-md-12 no-pad text-center">
              <h3>NILAI PRODUKSI</h3>
              <h4 class="value"><%= idr_money(product.cost) %></h4><br>
              <h3>TOTAL PRODUKSI</h3>
              <h4 class="quantity">
                <%= product.quantity %>
                <%= product.measurement %>
              </h4>
          </div>          
          <h5></h5>
        </div>
      </div>
      <br>
      <div class="row overview">
        <div class="col-md-6 user-pad text-center">
          <h3>NILAI TERJUAL</h3>
          <h4 class='earned'>
            <%= idr_money(product.cost_used) %>
          </h4>
        </div>
        <div class="col-md-6 user-pad text-center">
          <h3>TOTAL TERJUAL</h3>
          <h4 class='sold'>
            <%= product.quantity_used %>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-md-1 user-menu-btns">
        <div class="btn-group-vertical square" id="responsive">
          <a href="#tab_<%= product.id %>_1" class="btn btn-block btn-default active action" data-toggle="tab">
            <i class="fa fa-life-ring fa-3x"></i>
          </a>
          <a href="#tab_<%= product.id %>_2" class="btn btn-default" data-toggle="tab">NILAI
          </a>
          <a href="#tab_<%= product.id %>_3" class="btn btn-default" data-toggle="tab">BAYAR
          </a>
        </div>
    </div>

    <div class="col-md-4 user-menu user-pad">

      <div class="user-menu-content active" id="tab_<%= product.id %>_1">
        <h3>Riwayat Produksi</h3>
        <ul class="user-menu-list">

          <% @assemblies.by_product(product.id).each do |assembly| %>
              <li class="row">
                <div class="col-sm-12" style="padding-left: 5px;">
                  <small class="produced">
                    <i class="fa fa-clock-o"></i> 
                    <%= assembly.date_of_assembly %> | <%= (assembly.produced) %> <%= (assembly.product.measurement) %> diproduksi
                  </small>
                </div>
                <div class="col-sm-12">
                  <p class="coral cost">dengan total nilai <%= idr_money(assembly.total_cost) %> 
                  </p>
                </div>
              </li>
          <% end %>

        </ul>
      </div>

        <div class="user-menu-content" id="tab_<%= product.id %>_2">
          <h3>Riwayat Penjualan</h3>
          <ul class="user-menu-list">

            <% @revenues.by_item(product.id).each do |revenue| %>
                <li class="row">
                  <div class="col-sm-12" style="padding-left: 5px;">
                    <small><i class="fa fa-clock-o"></i> 
                      <%= revenue.date_of_revenue %> | jual <%= (revenue.quantity) %> <%= (revenue.item.measurement) %> | (<%= status_of_earning(revenue) %>)
                    </small>
                  </div>
                  <div class="col-sm-12">
                    <p class="coral">dengan total <%= idr_money(revenue.total_earned) %> 
                    </p>
                  </div>
                </li>
            <% end %>

          </ul>
        </div>

        <div class="user-menu-content" id="tab_<%= product.id %>_3">
          <h3>Opsi Tindakan</h3>
          <ul class="user-menu-list">
            <li>
              <%= link_to new_firm_assembly_path(@firm, product: product.id, name: product.item_name, measure: product.measurement), class: "btn btn-labeled btn-lg btn-success" do %>
                <span class="btn-label"><i class="fa fa-shopping-cart"></i></span>Catat Penambahan
              <% end %>  
            </li>
          </ul>
        </div>        
    </div>


  </div>
  <% end %>

  </div>
  
  <div class="tab-pane" id="materials">  
  <% @material_groups.each do |name, items| %>

  <div class="row user-menu-container square">

    <div class="col-md-7 user-details">

      <div class="row">
        <div class="col-md-6 no-pad coralbg white">
          <div class="user-pad">
            <h2 class="name"><%= name %></h2>
            <h3 class="white">
              <i class="fa fa-check-circle-o"></i> 
              <%= items.count %> Catatan pembelian
            </h3>            
            <h3 class="white">
            </h3><br>
          </div>
        </div>

        <div class="col-md-6 no-pad">
          <div class="col-md-12 no-pad text-center">
            <h3>NILAI PEMBELIAN</h3>
            <h4 class="cost"><%= accumulator(items, 'cost', 'money') %></h4>
          </div>
          <div class="col-md-12 no-pad text-center">
              <h3>TOTAL PEMBELIAN</h3>
              <h4>
                <%= accumulator(items, 'quantity', 'decimal') %> 
                <%= items.first.measurement %>
              </h4>
          </div>          
        </div>

      </div>
      <br>
      <div class="row overview">
        <div class="col-md-2 user-pad text-center">
            <h3>STOK SEKARANG</h3>
            <h4 class="remaining">
              <%= unit_remaining(items, 'quantity', 'quantity_used', 'decimal') %>
            </h4>
        </div>
        <div class="col-md-5 user-pad text-center">
            <h3>BIAYA/UNIT</h3>
            <h4 class="unit_cost"><%= averager(items, 'cost_per_unit') %></h4>
        </div>
        <div class="col-md-5 user-pad text-center">
            <h3>NILAI TERPAKAI</h3>
            <h4 class="sold">
              <%= accumulator(items, 'cost_used', 'money') %> 
            </h4>
        </div>
      </div>
    </div>

    <div class="col-md-1 user-menu-btns">
        <div class="btn-group-vertical square" id="responsive">
          <a href="#" class="btn btn-default active action">PRODUKSI
          </a>
          <a href="#" class="btn btn-default">OPSI
          </a>
        </div>
    </div>

    <div class="col-md-4 user-menu user-pad">

      <div class="user-menu-content active">
        <h3>Riwayat Produksi</h3>
        <ul class="user-menu-list">

          <% @processings.each do |processing| %>
            <% if processing.material.item_name == name %>
              <li class="row">
                <div class="col-sm-12" style="padding-left: 5px;">
                  <small><i class="fa fa-clock-o"></i> 
                    <%= processing.assembly.date_of_assembly %> | <%= (processing.quantity_used) %> <%= (processing.material.measurement) %> dipakai
                  </small>
                </div>
                <div class="col-sm-12">
                  <p class="coral">dengan total nilai <%= idr_money(processing.material_cost) %> 
                  </p>
                </div>
              </li>
            <% end %>
          <% end %>

        </ul>
      </div>

      <div class="user-menu-content">
        <h3>Opsi Tindakan</h3>
        <ul class="user-menu-list">
          <li>
            <%= link_to new_firm_spending_path(@firm, type: 'Material', name: name, measure: items.first.measurement), class: "btn btn-labeled btn-lg btn-warning" do %>
              <span class="btn-label"><i class="fa fa-shopping-cart"></i></span>Catat Penambahan
            <% end %>  
          </li>
        </ul>
      </div>
    </div>


  </div>

  <% end %>
  </div>
</div>