<%= bootstrap_form_for(@fiscal_year) do |f| %>

  <%= f.hidden_field :prev_year, value: 1.year.ago.year %>    
  <%= f.hidden_field :current_year, value: Date.today.year %>
  <%= f.hidden_field :next_year, value: 1.year.from_now.year %>

  <%= f.fields_for :balance_sheet, @fiscal_year.build_balance_sheet do |builder| %>
    <%= builder.hidden_field :year, value: Date.today.year %>
    <%= builder.hidden_field :firm_id, value: firm.id %>
  <% end %>

  <%= f.fields_for :income_statement, @fiscal_year.build_income_statement do |builder| %>
    <%= builder.hidden_field :year, value: Date.today.year %>
    <%= builder.hidden_field :firm_id, value: firm.id %>
  <% end %>

  <%= f.fields_for :cash_flow, @fiscal_year.build_cash_flow do |builder| %>
    <%= builder.hidden_field :year, value: Date.today.year %>
    <%= builder.hidden_field :firm_id, value: firm.id %>
  <% end %>

  <div class="actions">
    <%= f.submit "Buat Tahun Buku", class: "btn btn-primary" %>
  </div>
<% end %>