<%= bootstrap_form_for([@firm, @assembly], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  
  <%= render 'shared/error_messages', object: @assembly %>
  
  <div class="container">
    <div class="well row">
      
<!--       <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.date_field :date_of_assembly, label: "Tanggal" %>
      </div> -->
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :date, label: "Tanggal", min: 1, max: 31, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :month, label: "Bulan", min: 1, max: 12, required: true %>
      </div>
      <div class="col-xs-12 col-sm-4" data-toggle="tooltip" 
           title="<%= trans_date_tip %>">
        <%= f.number_field :year, label: "Tahun", readonly: true, value: Date.today.year %>
      </div>           
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= name_tip_text('produk') %>">      
        <%= f.select(:product_id, options_for_select(product_options(@firm)), prompt: 'Pilih', label: "Produk Yang Diproduksi") %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_total_tip %>">
        <%= f.number_field :produced, label: "Jumlah Produksi" %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_total_tip %>">
        <%= f.text_field :labor_cost, label: "Upah Produksi", data: {autonumeric: {aSep: '.', aDec: ',', mDec: 0}} %>
      </div>
      <div class="col-xs-12 col-sm-12" data-toggle="tooltip" 
           title="<%= trans_total_tip %>">
        <%= f.text_field :other_cost, label: "Biaya Produksi Lainnya", data: {autonumeric: {aSep: '.', aDec: ',', mDec: 0}} %>
      </div>            
    </div>

    <div class="well row">
      <%= f.fields_for :processings, @assembly.processings.build do |builder| %>
          <%= render 'processing_fields', f: builder %>
          <%= link_to_add_association 'Tambah Jenis Bahan Baku yang terpakai', f, :processings %>
      <% end %>      
    </div>

    <div class="form-group col-lg-12">
      <%= f.submit "Simpan", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
